.DS*
data
.vscode
*.txt
!requirements-demo.txt
*.pkl
*.ipynb
*EXP150*
EXP150_NatImages_NeuroPixels
Sessions_NaturalEnsemble_136
NN2015
*.csv
in
out
*.png
!docs/figures/*.png
venv
.venv
outputs/
src/seg-model-example
src/segmentation_old
src/image_outpainting
src/Session_exclusion_criteria
src/vseg
__pycache__/
*/__pycache__/
*.html
*.gif
src/run*.py
*.py[cod]
*.jpg
*.pdf
*debug*
reaction_time_model
